// *----------------------------------*\
// TO-DO
//  Settings > Colors
// *----------------------------------*/

$c-yellow: #FACC08;
$c-main-black: #000000;
$c-second-black: #222;
$c-white: #FFF;
$c-dark-yellow: #E6BC0A;
$c-dark-gray: #666;
$c-lighter-gray: #EFEFEF;
$c-light-yellow: #FFF0B2;
$c-dark-gray2: #999;

$c-red: #ec5252;


$c-main-color: $c-yellow;
$c-dark-main-color: $c-dark-yellow;
$c-light-main-color: $c-light-yellow;
$c-font-main-color: $c-second-black;

$c-border-color: #E5E5E5;
$c-disabled: #CCC;

$c-warning: #f0ad4e;
$c-success: #5cb85c;
$c-danger: #d9534f;
$c-error: #ff0000;
$c-default: #337ab7;
