// *----------------------------------*\
//  Settings > Spaces
// *----------------------------------*/

// !!! DEPRECATED !!!
// !!! Use o padrão do bootstrap !!!

$base-spacing-unit: 15px;
$second-spacing-unit: 20px;
$medium-spacing-unit: 10px;
$smaller-spacing-unit: 5px;
$big-spacing-unit: 30px;
$bigger-spacing-unit: 50px;

$section-divider-spacing: 70px;
