.container{
  display: flex;
  // height: 80vh;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  // height: 85vh;
}
mat-card{
  width: 500px;
  color: black;
  background-color: white;
  border-radius: 15px;
  padding: 40px;;

  h1{
    margin-bottom: 40px;
    text-align: center;
  }

}

.inputs{
  mat-hint{
    color: black;
    font-size: 14px;

  }
  mat-label{
    color: black
  }

  .inputs-confirm-pass{
    margin-top: 40px;
  }

}
mat-form-field{

  .input{
    height:40px;



    &::placeholder{
      color: black;
    }
  }
}
