.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

mat-card{
  width: 500px;
  color: black;
  background-color: white;
  border-radius: 15px;
  padding: 40px;;

  h1{
    margin-bottom: 40px;
    text-align: center;
  }

}

.inputs{
  mat-hint{
    color: black;
    font-size: 14px;

  }
  mat-label{
    color: black
  }

  .inputs-confirm-pass{
    margin-top: 40px;
  }

  &_button{
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: 150px;
      height: 40px;
      padding: 10px 0;
      border-radius: 30px;
      color: #363636;
      font-weight: 500;
      border: 2px solid black;
      text-transform: uppercase;
      cursor: pointer;
      margin-bottom: 20px;
      font-family: "Roboto", sans-serif;

      &:hover {
        background-color: #76323F;
        color: white;
        transition: 0.2s;
        font-size: 1.1em;
      }

      &:focus {
        transform: scaleX(1.1);
      }
    }
  }
}
mat-form-field{

  .input{
    height:40px;



    &::placeholder{
      color: black;
    }
  }
}
