<div class="fpass__wrapper">
  <div class="fpass__wrapper-box animated fadeInDown">
    <div class="fpass__wrapper-container">

      <div class="fpass__wrapper-title">Esqueci minha senha</div>

      <form (ngSubmit)="onSubmit(formDirective)" [formGroup]="form" #formDirective="ngForm" onLoad="setFocus()">

        <div class="fpass__wrapper-form">

          <input class="c-input" required type="email" name="email" placeholder="Email" formControlName="email"
            (keyup.enter)="onSubmit(formDirective)" />

          <input class="c-input" required type="email" name="confirmEmail" placeholder="Confirmar email"
            formControlName="confirmEmail" (keyup.enter)="onSubmit(formDirective)" />

          <button type="submit">Confirmar</button>

        </div>

      </form>
    </div>
  </div>
</div>
