/*------------------------------------*\
  Components > Inputs
\*------------------------------------*/

.c-input {
  width: 75%;
  margin-bottom: 20px;
  font-family: $f-font-sans-serif;
  border-radius: 30px;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid black;
  font-size: 13px;
  height: 40px;
  text-align: center;
  transition: 0.27s;
  color: black;

  &:focus {
    width: 80%;
    border-color: blue;
    font-family: $f-font-sans-serif;
  }
  &::placeholder {
    font-family: $f-font-sans-serif;
    color: black;
  }
}
