<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">

		<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

		<title>Login</title>

	</head>

  <body>

		<div class="animated fadeInDown login-box">
      <div class="login-container">

        <h1>Login</h1>

        <form
          (ngSubmit)="onSubmit(formDirective)"
          [formGroup]="form"
          #formDirective="ngForm"
          onLoad="setFocus()"
        >
          <input class="col col-md-12"
          required type="text"
          name="login"
          placeholder="Username"
          formControlName="email"
          >

          <input class="col col-md-12"
          required type="password"
          name="password"
          placeholder="Password"
          formControlName="password"
          >

          <button type="submit" class="login login-submit">Entrar</button>

        </form>
        <a href="#"> Esqueci minha senha</a>

      </div>
		</div>
	</body>


</html>
