<div class="login__wrapper">
  <div class="login__wrapper-box animated fadeInDown">
    <div class="login__wrapper-container">

      <div class="login__wrapper-title">Login</div>

      <form (ngSubmit)="onSubmit(formDirective)" [formGroup]="form" #formDirective="ngForm" onLoad="setFocus()">

        <div class="login__wrapper-form">

          <input class="c-input" required type="text" name="login" placeholder="Username" formControlName="email">

          <input class="c-input" required type="password" name="password" placeholder="Password"
            formControlName="password">

          <button type="submit">Entrar</button>

        </div>

      </form>
      <div class="login__wrapper-retrieve-pass">
        <a href="#"> Esqueci minha senha</a>
      </div>

    </div>
  </div>
</div>
