<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">

		<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

		<title>Login</title>

	</head>

  <body>

		<div class="animated fadeInDown login-box">
      <div class="login-container">

        <h1>login</h1>
        <form >
          <input class="col col-md-12" required type="text" name="login" placeholder="Username" >
          <input required type="password" name="password" placeholder="Password" >
          <button type="submit" class="login login-submit">Sign-in</button>
        </form>
          <a href="#"> Forgot password</a>
      </div>
		</div>
	</body>


</html>
