/*------------------------------------*\
  Elements > Links
\*------------------------------------*/

a {
	text-decoration: none;
	color: $c-yellow;
	padding: 5px;
	transition: $global-transition;

	&:hover {
		text-decoration: underline;
	}

	&.btn {
		&:hover {
			text-decoration: none;
		}
	}
}