<mat-toolbar class="menu">

  <div class="menu__wrapper">
    <a class="material-icons" [routerLink]="['/']" routerLinkActive="router-link-active">contacts</a>
    <a class="menu__wrapper-item" [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
    <a class="menu__wrapper-item" [routerLink]="['/infos']" routerLinkActive="router-link-active">Informações</a>
    <a class="menu__wrapper-item" [routerLink]="['/contato']" routerLinkActive="router-link-active">Contato</a>
  </div>

  <!-- <span class="example-fill-remaining-space"></span> -->
  <ng-container *ngIf="isAuthenticated$ | async; else userVisitor">
    <div class="menu__wrapper">
      <div class="menu__username" *ngIf="session$ | async as session">
        Bem vindo(a), {{ session.user.name.split(' ')[0] }}
      </div>
      <div class="menu__logout">
        <button class="btn btn-primary" (click)="logout()">Sair</button>
      </div>
    </div>
  </ng-container>

  <ng-template #userVisitor>
    <div class="menu__wrapper">
      <a class="menu__wrapper btn-login" [routerLink]="['/login']" routerLinkActive="router-link-active">Fazer login</a>
      <a class="menu__wrapper btn-register" [routerLink]="['/register']"
        routerLinkActive="router-link-active">Cadastrar-se</a>
    </div>
  </ng-template>


</mat-toolbar>
