<mat-toolbar class="menu">

  <div class="menu__wrapper">
    <a class="material-icons" [routerLink]="['/']" routerLinkActive="router-link-active">contacts</a>
    <a class="menu__wrapper-item" [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
    <a class="menu__wrapper-item" [routerLink]="['/infos']" routerLinkActive="router-link-active">Informações</a>
    <a class="menu__wrapper-item" [routerLink]="['/contato']" routerLinkActive="router-link-active">Contato</a>
  </div>

  <!-- <span class="example-fill-remaining-space"></span> -->
  <div class="menu__wrapper">
    <a class="menu__wrapper btn-login" [routerLink]="['/login']" routerLinkActive="router-link-active">Fazer login</a>
    <a class="menu__wrapper btn-register" [routerLink]="['/register']" routerLinkActive="router-link-active">Cadastrar-se</a>
  </div>

</mat-toolbar>
